[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
"geohash2" = "*"
category-encoders = "*"

[dev-packages]

[requires]
python_version = "3.7"
