[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
"geohash2" = "*"
category-encoders = "*"
tensorflow = "*"
seaborn = "*"

[scripts]
fare = "python fare/main.py"

[dev-packages]
pylint = "*"
black = "==19.3b0"

[requires]
python_version = "3.6"
